:root {
  --rouge: #E4032E;
  /* --rouge: #ef1c28; */
  /* --vert: #37ae6d; */
  --vert: #3da868;
  --jaune: #ffed00;
  --violet: #951b81;
  --rose: #e82d5b;
  --couleur-primaire: #e4302f;

  --underline-max-width: 100%;
  --underline-hover-width: 0;
  --underline-idle-width: var(--underline-max-width);
  --underline-x: calc(var(--underline-max-width) * 0);
  --underline-img: linear-gradient(0deg, currentColor, currentColor);
  --external-link-content: "";
}

*,
::before,
::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow-Regular.woff") format("woff"),
    url("/assets/fonts/Barlow-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow-SemiBold.woff") format("woff"),
    url("/assets/fonts/Barlow-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow-Bold.woff") format("woff"),
    url("/assets/fonts/Barlow-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

html {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.4;
  color: black;
  background-color: white;
}

.skip-links {
  position: absolute;
  transform: translateY(-100%);
  color: white;
}

.skip-links:focus {
  transform: translateY(0%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

h1:not(:first-of-type),
h2:not(:first-child),
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

h1,
h2,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  color: var(--couleur-primaire);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

li + li,
li > ul,
li > ol {
  margin-top: 0.5rem;
}

a {
  color: inherit;
}

blockquote {
  margin-right: 0;
  margin-left: 0;
  padding: 0.5rem 1rem;
  border-left: 4px solid var(--couleur-primaire);
}

blockquote p {
  margin: 0;
}

blockquote p + p {
  margin-top: 1rem;
}

code {
  padding: 0.2rem;
  background-color: #abe1c3;
}

pre {
  padding: 1rem;
  color: white;
  background-color: black;
}
pre code {
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

header {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  text-align: center;
}

header > div:first-child {
  flex-basis: 30%;
}

header h1 {
  margin-bottom: 0;
}

header h2{
  margin-top: 1rem !important;
  font-size: 1.4rem;
  color: var(--couleur-primaire);
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem;
  color: black;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--vert);
}

.btn:hover {
  box-shadow: 0px 5px 9px -2px rgba(0,0,0,0.75);
}

.btn[href*="http"]::after {
  content:' ➚'
}

section {
  margin-bottom: 1rem;
  padding-inline: 1rem;
}

section > div {
  max-width: 70ch;
  margin-inline: auto;
  padding-block: 3rem;
}

.entete > div {
  max-width: 100ch;
}

.entete img {
  max-height: 50vh;
  margin-inline: auto;
}

.entete .buttons{
  margin-top: 1rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

#programme {
  background-color: var(--vert);
}

#programme .btn {
  margin-top: 2rem;
  background-color: white;
}

#candidature img {
  max-height: 50vh;
  margin-inline: auto;
}

.contact {
  margin-bottom: 0;
  font-size: 1.5rem;
  background-color: var(--jaune);
}

.contact a {
  color: black;
}

.logos_partis {
  margin-bottom: 0;
  color: white;
  background: var(--rouge);
}

.logos_partis > div {
  max-width: 100ch;
}

.logos_partis h2 {
  margin-bottom: 4rem;
}

.logos_partis ul {
  display: flex;
  gap: 2rem;
  list-style: "";
  margin-bottom: 2rem;
  padding-left: 0;
}

#procuration {
  margin-bottom: 0;
  text-align: center;
  color: white;
  background-color: var(--violet);
}

#procuration p:first-of-type {
  font-size: 2rem;
}

#procuration h2 {
  margin-bottom: 3rem;
}

#procuration a {
  color: var(--violet);
  background-color: white;
}

#inscription {
  color: white;
  background-color: var(--rose);
  margin-bottom: 0;
}

.villes {
  margin-bottom: 0;
  text-align: center;
  color: var(--rouge);
}
.villes > div {
  max-width: 80rem;
}

.villes img {
  max-width: 20rem;
  margin-inline: auto;
}

.reseaux-sociaux{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.reseaux-sociaux li{
  list-style: none;
  margin: 1rem;
}

.reseaux-sociaux li img{
  min-height: 5rem;
  min-width: 5rem;
}

.email{
  padding-block-end: 0;
}

.villes a{
  font-size: 1.2rem;
  font-weight: bold;
}

#candidature > div{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100vw;
}

#candidature > div article{
  max-width: 60ch;
}

#agenda{
  background-color: var(--vert);
  margin-bottom: 0;
}
#agenda > div{
  max-width: 100vw;
}

#agenda ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#agenda ul, #agenda li{
  list-style: none;
}

#agenda li{
  max-width: 30em;
  margin: 1rem;
}

#departement{
  background-color: var(--vert);
  color: white;
  margin-bottom: 0;
  padding: 1em;
}

#departement h2{
  font-size: 1.4rem;
}

#departement ul{
  margin-block: 0;
  padding: 1rem;
  list-style: none;
  grid-template-columns: repeat(2, auto);
  display: grid;
  justify-content: center;
  gap: 1em;
}

#departement li{
  margin: 0 2rem;
  line-height: 2rem;
}

.footer {
  margin-bottom: 0;
  padding-block: 1rem;
  color: white;
  background-color: var(--couleur-primaire);
  text-align: left;
}

@media (max-width: 1024px) {
  header {
    flex-direction: column;
    padding-inline: 1rem;
  }

  header img {
    max-width: 50vw;
    margin-inline: auto;
  }

  #departement ul{
    grid-template-columns: none;
  }
}

@media (max-width: 480px) {
  header img {
    max-width: 100%;
  }
}
